.app-footer{
    flex-direction: column;
    margin-top: 58px;
    border-top: 15px solid #EB5403;
    justify-content: center;
    align-items: center;
    grid-column:2;
    height: 10vh;
    padding-bottom: 15px;
    min-height: 95px;

    .a-section{

        a{
            color: black;
            margin: 6px;
            font-size:22px;
        }

        .link:hover{
            color:  #0072b1;
        }
        .git:hover{
            color: #171515;
        }
        .face:hover{
            color: #3b5998;
        }
        .inst:hover{
            color: #8a3ab9;
        }
    }

    p{
        font-size: 12px;
    }
}