//CMPS
@import "./cmps/app-header.scss";
@import "./cmps/app-footer.scss";
@import "./cmps/my-info.scss";
@import "./cmps/latest-projects.scss";
@import "./cmps/hamburger.scss";

//HELPERS
@import "./typography.scss";
@import "./helpers.scss";

//VIEWS
@import "./views/my-portfolio.scss";
@import "./views/project-details.scss";
@import "./views/my-projects.scss";
@import "./views/contact-me.scss";
@import "./views/about.scss";

.swal-button {
  background-color: #fe5a02;
  transition: background-color 0.3s;

  &:hover {
    background-color: #d74e04 !important;
  }
}

.small-h{
  height: 3vh;
  width: 3vh;
}

.mid-h{
  width: 10vh;
  height: 5vh;
}

.circle{
  border-radius: 50%;
  background-color:#fe5a02;
  box-shadow: 0px 0px 39px -11px rgba(215,78,4,0.75);
  position: absolute;
  top:50px;
  right: 0;
}

.half-circle {
  background-color:#fe5a02;
  border-top-left-radius: 110px; 
  border-top-right-radius: 110px;
  rotate: 90deg;
  border-bottom: 0;
  position: absolute;
  bottom: 55px;
  left: 0;
  transform: translateY(50%);
  box-shadow: 0px 0px 39px -11px rgba(215,78,4,0.75);
}
.main-app {
  display: grid;
  grid-template-columns: (30px) 1fr (30px);
}

* {
  font-family: Rouben;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.rounded-btn {
  color: black;
  border-radius: 30px;
  height: 40px;
  width: 120px;
  background-color: rgb(215, 215, 215);
  font-weight: bolder;
  font-size: 14px;

  transition: 0.3s;

  &:hover {
    width: 150px;
  }
}

.main-container {
  grid-column: 2;
  min-height: 67vh;
}

.nav-link {
  display: grid;
  place-items: center;
  text-decoration: none;
  color: black;
  height: 10vh;

  &:hover {
    font-weight: bolder;
    border-bottom: 3px solid #fe5a02;
    margin-bottom: -3px;
  }

  &.active {
    font-weight: bolder;
    border-bottom: 6px solid #fe5a02;
    margin-bottom: -6px;
  }
}

@media (min-width: 1000px) {
  .main-app {
    display: grid;
    grid-template-columns: 15% minmax(0, 1200px) 15%;
  }
}
